*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(/IMG/NBoockCover.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

#myImg:hover{
    cursor: pointer;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e20d46;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

#sidemenu img{
    width: 30px;
    height: 20px;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #e20d46;
}

.header-text p span{
    color: #e20d46;
    font-weight: bold;
}

.home{
    display: none;
}


/* ABOUT */
#about{
    padding: 80px 0;
    color: #ffffff;
    height: 80vh;
}

#about img{
    border-radius: 10px;
    height: 60vh;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #e20d46;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-links a{
    text-decoration: none;
    color: #ababab;
}

.tab-contents ul li{
    list-style: none;
    margin: 25px 0;
    margin-top: 20px;
}

.tab-links a:hover{
    color: #e20d46;
}

.tab-contents ul li span{
    color: #f1a3b7;
    font-size: 20px;
}

#skills ul li span{
    color: #ffffff;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents i{
    color: #e20d46bd;
    font-size: 30px;
}

.tab-contents.active-tab{
    display: block;
}

#skills ul{
    display: flex;
}
 
.skills-left{
    width: 400px;
}

.skills-left i, .skills-right i{
    color: #e20d46bd;
    font-size: 30px;
}

.skills-right{
    width: 400px;
}

/*  Services */

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list .s1{
    background: #e20d4642;
    padding: 35px;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list .s1 div{
            /* extra for animation */
            backface-visibility: hidden;
            transform-style: preserve-3d;
            transition: 1s;
}

.services-list .s1 span{
    color: rgb(185, 100, 100);
    font-weight: bolder;
}

.services-list .s1:hover span{
    color: black;
    font-weight: bold;
}

.services-list .s1 h2{
    color: #ffffff;
}

.services-list .s1 .btn{
    background-color: #fafafa;
    color: #2c2c2c;
    width: 25%;
    margin-top: 50px;
    padding: 10px 0;
}

.services-list .s1 .btn:hover{
    cursor: pointer;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
    display: inline-block;
}

.services-list .s1:hover{
    background: #e20d46;
    transform: translateY(-10px)
}

/* Portfolio */

#portfolio{
    padding: 50px 0;
    height: 100vh;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #e20d46);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #e20d46;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #8f6270;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #8f6270;
}


/* Contact */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
    margin-top: 50px;
}

.contact-left p{
    margin-top: 30px;
    width: 50%;

}

.contact-left p i{
    color:#868686;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.contact-left a{
    text-decoration: none;
    color: #fff;
}

.contact-left a:hover{
    color: #e20d46;
}

.btn.btn2{
    display: inline-block;
    background: #e20d46;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#msg{
    color: #e20d46;
    margin-top: -40px;
    display: block;
}

/* Animation */

.hidden{
    opacity: 0;
    transition: all 2.5s;
}

.show{
    opacity: 1;
    transition: all 2s; 
}

/* Scroll to top */

.scrollTop{
    width: 40px;
    height: 40px;
    background-color: #e20d46;
    position: fixed;
    bottom: 5px;
    right: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 48%;
    font-size: 25px;
}

.scrollTop:hover{
    cursor: pointer;
    background-color: #262626;
    color: #e20d46;
}

/* .fa-arrow-up{
    font-size: 15px;
} */


/* CSS FOR SMALL SCREENS */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 620px){
    #header{
        background-image: url();
    }
    .header-text{
        margin-top: 55%;
        font-size: 16px;
    }
    .header-text h1{
        width: 15%;
        font-size: 30px;
    }

    nav .fa-solid{
        display: flex;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul{
        background: #ec648f;
        border-radius: 7px;
        position: fixed;
        top: 50px;
        right: -200px;
        width: 150px;
        height: 60%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav i{
            width: 40px;
            height: 40px;
            position: fixed;
            top: 50px;
            right: 2px;
            text-align: center;
            padding: 10px;
            font-size: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: black;
    }

    nav ul .fa-x{
        color: #fff;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .scrollTop{
        display: none;
    }

    .home{
        display: flex;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 18px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}